<?php
  // WPFlow WARNING!
  // This file was auto generated using WPFlow.
  // It is recomended to not edit any content in this file,
  // to preserve the hability to update content from Webflow.
  // Read the documentation for more information.
?>

  <%- footer %>
  <?php wp_footer(); ?>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>
